.next
node_modules
out
build
public
*.md
*.mdx
*.html
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.css
*.scss
*.sass
*.less
*.graphql
*.graphqls
*.sql
*.sqlite
*.sqlite3
*.prisma
*.toml
*.yaml
*.yml
*.lock
*.log
*.cache
*.tsbuildinfo
.next/
.next/*
!.env*.example
!.github/
!.vscode/
!.husky/
!.storybook/
!.changeset/
!.vercel/
!.swc/
!.eslintrc.json
!.prettierrc
!.prettierignore
!.babelrc
!.babelrc.json
!.babelrc.js
!.babelrc.cjs
!.babelrc.mjs
!.babel.config.js
!.babel.config.cjs
!.babel.config.mjs
!.babel.config.json
!.eslintrc.js
!.eslintrc.cjs
!.eslintrc.yaml
!.eslintrc.yml
!.eslintrc.json
!.eslintignore
!.gitignore
!.npmrc
!.nvmrc
!.prettierrc.js
!.prettierrc.cjs
!.prettierrc.mjs
!.prettierrc.json
!.prettierrc.yaml
!.prettierrc.yml
!.prettierrc.toml
!.stylelintrc
!.stylelintrc.js
!.stylelintrc.cjs
!.stylelintrc.mjs
!.stylelintrc.json
!.stylelintrc.yaml
!.stylelintrc.yml
!.stylelintignore
!.stylelintrc.toml
!.stylelintrc.json5
